.component {
}

.nav-item {
  composes: button from $button;
  margin: 0 4px;

  text-transform: uppercase;

  cursor: pointer;
}

.nav-item-active {
  composes: nav-item;
  /*color: $mustard;*/
  border-bottom: 1px solid;
  /*border-color: $mustard;*/
}
