.component {
  composes: grid from $grid;
  overflow: hidden;
  padding: 0 5rem 1rem;
  width: 90%;

  img {
    width: 100%;
  }
}

.item {
  display: flex;
  flex-direction: column;

  composes: col-s-2-4 from $grid;
  composes: col-m-1-3 from $grid;
  composes: col-l-1-3 from $grid;

  cursor: pointer;

  &:hover,
  &:active {
    .media {
      opacity: 0.9;
    }

    .copy {
      position: relative;
    }
  }
}

.media {
  composes: imgs from $common;
	margin: 0;
	overflow: hidden;

  position: relative;

	&:after {
		content: '';
		display: block;
		height: 0;
		width: 100%;
		padding-top: calc(2177 / 1456 * 100%);
	}

	transition: opacity 300ms ease-in-out;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* refactor with img to bg */
    object-fit: cover;
  }
}

.copy {
  display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 140px;
	padding: 23px;
	margin: 0;
	background-color: white;

	img {
		width: 14px;
		float: left;
	}

	p {
		font-size: 13px;
		margin: 0;
	}
}

.title {
  composes: font-sans-serif from $typography;

  text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 10px;
	flex: 1 100%;
	font-size: 15px;

	letter-spacing: 0.12em;

	@media ($ml) {
		font-size: 17px;
	}
}

.categories {
  composes: list from $list;

  display: block;
	padding: 0;
	margin-bottom: 0;
	line-height: 13px;

	li {
		display: inline-block;
    float: left;
		margin-right: 6px;
		font-size: 9px;
		font-style: italic;

		@media (min-width: 980px) {
			font-size: 12px;
		}
	}
}

.tags {
  composes: list from $list;

  display: block;
	margin-top: 10px;
	width: 100%;

	li {
		display: inline-block;
		margin: 0 2px;
		height: 30px;

    cursor: pointer;
	}

	i {
		position: relative;
	}

	span {
		font-size: 10px;
		position: absolute;
		bottom: -20px;
		left: -1em;
		right: -1em;
		text-align: center;
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
	}

	i:hover {
		span {
			opacity: 1;
		}
	}
}

.icon-gluten-free {
  composes: icon-gluten-free from $icon;
}

.icon-sugar-free {
  composes: icon-sugar-free from $icon;
}

.icon-soy-free {
  composes: icon-soy-free from $icon;
}

.icon-nut-free {
  composes: icon-nut-free from $icon;
}

.icon-raw {
  composes: icon-raw from $icon;
}
