/* ==========================================================================
   Type
   ========================================================================== */

/**
 * Type styles
 *
 * This file contains all type styles used across pages/components. Combine
 * composes from typography.css to create type styles.
 */
.type-1 {
  composes: font-sans-serif large from $typography;
}

.type-2 {
  composes: font-sans-serif medium from $typography;
}

.type-3 {
  composes: font-sans-serif small from $typography;
}
